/*-----------------------------------=========Main-Style-Sheet=========----------------------------------------*/


@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@300;400;500;600;700;800&display=swap');
:root {
  --theme__color1: #0161F2;
  --dark__txt: #1B1C20;
  --text__color: #1C1D23;
  --dm-sans: 'DM Sans', sans-serif;
  --inter: 'Inter', sans-serif;
}
*,::before,::after {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: var(--dark__txt);
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-family: var(--dm-sans);
}
a, a:active, a:focus, a:active, a:hover {
  text-decoration:none !important;
  color: inherit;
}
input{
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
a:hover,
a:focus,
input:focus,
input:hover,
select:focus,
select:hover,
select:active,
textarea:focus,
textarea:hover,
button:focus {
  outline: none;
}
::placeholder {
  opacity: 1;
}
:focus::placeholder {
  opacity: 0;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed; /* Prevents HTML tables from becoming too wide */
  width: 100%;
}
img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
iframe {
  width: 100%;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  font-weight: 700;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
p{
  margin-bottom: 15px;
}
p:last-child{
  margin: 0;
}
.main-wrap {
  width: 100%;
  overflow: hidden;
}
@media (max-width: 1799px) and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1325px;
  }
}




/* header */
.header-section {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.header-in {
  padding: 44px 0;
}
.header-section__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  display: block;
  width: 75px;
}
.header__logo img {

}
.header__right {
  gap: 25px;
  display: flex;
  align-items: center;
}
.main-menu {

}
.main-menu ul {
  gap: 29px;
  display: flex;
  align-items: center;
}
.main-menu ul {

}
.main-menu ul li {

}
.main-menu ul li a {
  font-size: 16px;
  font-weight: 400;
  color: #1C1D23;
  transition: 0.3s;
}
.main-menu ul li a.active {
  color: #1B1C20;
  font-weight: 500;
}
.main-menu ul li a:hover {
  color: var(--theme__color1);
}

.language-dropdown {

}
.language-dropdown > a {
  align-items: center;
  display: flex;
  align-items: center;
  gap: 4px;
}
.language-dropdown a .flag {
	height: 30px;
	width: 30px;
	padding: 2px;
	border: 1px solid var(--theme__color1);
	border-radius: 50%;
	display: flex;
}
.language-dropdown > a i {
  font-size: 8px;
}
.language-dropdown  a .flag img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: inherit;
}
.language-dropdown .dropdown-menu {
  min-width: 100px;
}
.language-dropdown .dropdown-menu ul {

}
.language-dropdown .dropdown-menu ul li {

}
.language-dropdown .dropdown-menu ul li a {
  display: flex;
  gap: 10px;
  align-items: center;

}
.language-dropdown .dropdown-menu ul li a .icon {

}
/* header-end */









/* ---offcanvas-css--- */
.offcanvas-open {
  font-size: 22px;
  transition: 0.3s;
}
.offcanvas-open:hover {
  color: #97A3AE;
}
.offcanvas-close {
  color: var(--theme__color1);
  position: absolute;
  transition: 0.3s;
  right: 15px;
  top: 15px;
  font-size: 22px;
  line-height: 1;
}
.offcanvas-close:hover {
  color: #97A3AE;
}
.offcanvas-menu {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transform: translateX(-105%);
  transition: 0.3s;
}
.offcanvas-menu.active {
  transform: translate(0);
}
.offcanvas-menu .offmenu {
  max-width: 250px;
  min-width: 200px;
  z-index: 5;
  position: relative;
  background: #fff;
  height: 100%;
  padding: 50px 20px 40px;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.offcanvas-menu .offmenu :-webkit-scrollbar {
  display: none;
}
.mobile-menu li a {
  display: block;
  font-size: 16px;
  color: var(--theme__color1);
  padding: 7px;
}
.dropdown-menu-custom ul {
  background: #fff;
  padding: 20px 0;
}
.dropdown-menu-custom ul li a {
  color: #97A3AE;
}
.offcanvas-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.178);
  z-index: 2;
  transform: 0;
  z-index: 900;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.offcanvas-overlay.active {
  opacity: 1;
  visibility: visible;
}
/* ---offcanvas-css-end---*/

/* --preloader-- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}
#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--theme__color1);
  border-top-color: #e2eefd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}
@-webkit-keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
@keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
/* --preloader-end-- */



/* ---common-content--- */
.h2 {
  font-size: 40px;
}
.cont-blk {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cont-blk--center {
  align-items: center;
  text-align: center;
}
.cont-blk p {
  line-height: 1.6;
}
.title-linear {
  margin: 0 0 33px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* ---common-content---end */



/* ---hero-section--- */
.hero-section {
  padding: 53px 0;
}
.hero-section__inner {
  display: flex;
  justify-content: space-between;
}
.hero__content {
  width: 43%;
}
.hero__content__title {
  margin: 0 0 75px;
}
.hero__content__title .h1 {
  font-size: 50px;
}
.hero__content__body {

}
.hero__content__body p {
  line-height: 1.6;
  color: var(--text__color);
}
.hero__content .bottom-button {
  margin: 30px 0 0;
}
.hero__image-right {
  width: 40%;
}
.hero__image-right .img {
  width: 100%;
}
/* ---hero-section---end */

/* ---news-section--- */
.news-section  {
  padding: 120px 0;
}
.news-section.news-section--ministry {
  padding: 25px 0 70px;
}
.news-section__inner  {

}
.news-section__title  {
  margin: 0 0 110px;
}

.h-filter {
  padding: 5px;
  width: 924px;
  margin: 0 auto;
  margin-top: 60px;
  max-width: 100%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  background: #F4F4F4;
}
.h-filter__inputs {
  padding: 0 5px 0 18px;
  gap: 15px;
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.h-filter__input {
  gap: 14px;
  display: flex;
  align-items: center;
  flex-grow: 1;
  border-right: 1px solid #C0C0C0;
}
.h-filter__input:last-child {
  border-right: none;
}
.h-filter__input .input {
  font-size: 16.5px;
  font-weight: 400;
  color: #B8B8B8;
  line-height: 1.3;
  border-color: transparent;
  border-radius: 0;
  background: transparent;
  width: 0;
  flex-grow: 1;
}
.h-filter__input .input.nice-select::after {
  height: 7px;
  width: 7px;
  border-color: #ADADAD;
  border-width: 1px;
}
.h-filter__input .icon {

}
.h-filter__input .icon img {

}
.h-filter__input .input {
  padding: 0;
}
.h-filter__submit {
  min-height: 50px;
  font-size: 16px;
  padding: 10px 32px;
  font-size: 16px;
  border-radius: 8px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  background: var(--theme__color1);
  font-family: var(--dm-sans);
  border: 1px solid transparent;
  transition: 0.3s;
}
.h-filter__submit:hover {
  background: #002fff;
}

.news-group {
  margin: 0 0 30px;
}
.news-grid {
  display: grid;
  grid-gap: 47px;
  grid-template-columns: repeat(3,1fr);
}
.news-grid.news-grid--4 {
  grid-column-gap: 28px;
  grid-template-columns: repeat(4,1fr);
}
.news-card {
  font-family: var(--inter);
  display: flex;
  flex-direction: column;
  background: #FCFCFC;
  border-radius: 14px;
}
.news-grid.news-grid--4 .news-card {
  background: transparent;
}
.news-grid.news-grid--4 .news-card__body {
  padding-left: 0;
  padding-right: 0;
}
.news-card__image {
  border-radius: inherit;
}
.news-card__image img {
  border-radius: inherit;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.news-card__body {
  padding: 15px 23px 22px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.news-card__body h3 {
  font-size: 16px;
  line-height: 1.3;
  font-weight: 600;
}
.news-card__body p {
  font-size: 15px;
  font-weight: 400;
  color: #585858;
}
.news-card__body__bottom {
  padding: 5px 0 0;
  margin-top: auto;
}
.news-card__body__bottom .txt-button {
  font-size: 15px;
  gap: 20px;
  transition: 0.3s;
  color: var(--theme__color1);
  font-family: var(--dm-sans);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.news-card__body__bottom .txt-button .arr {
  transition: 0.3s;
}
.news-card__body__bottom .txt-button:hover .arr {
  transform: translate(5px,0);
}
/* ---news-section-- -end */


/* ---footer-section--- */
.footer-section {

}
.footer-section__inner {

}
.footer__top {
  padding: 40px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.footer__top__ln {
  padding: 40px 0;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__logo {
  width: 80px;
}
.footer__logo img {

}
.footer__logo__b {
  width: 109px;
  margin: 0 0 27px;
}
.footer__logo__b img {

}
.footer__menu {
  gap: 20px;
  display: flex;
  align-items: center;
}
.footer__menu li {

}
.footer__menu li a {
  transition: 0.3s;
  color: rgba(0, 0, 0, 0.8);
}
.footer__menu li a:hover {
 color: var(--theme__color1);
}
.fs-menu {
  gap: 33px;
  display: flex;
  align-items: center;
}
.fs-menu li {

}
.fs-menu li a {
  transition: 0.3s;
  color: #008EFF;
}
.fs-menu li a:hover {
 color: var(--theme__color1);
}
.footer__bottom {
  padding: 40px -0 50px;
}
.copy-right {
  color: #797B89;
  margin: 0;
}
.fl-menu {

}
.fl-menu li {

}
.fl-menu li a {
  transition: 0.3s;
  color: #797B89;
}
.fl-menu li a:hover {
   color: var(--theme__color1);
}

.footer__bottom {
  border-top: 1px solid #D4D4D8;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* ---footer-section---end */


/* ---doc-table--- */
.doc-table {


}
.doc-table table {
  --border-radius: 8px;
  table-layout: unset;
  border-spacing: 0 9px;
}
.doc-table table td {
  padding: 10px;
  font-size: 16.5px;
  height: 62px;
  vertical-align: middle;
}
.doc-table table tr {

}
.doc-table table tbody td {
  background: #F4F4F4;
}
.doc-table table tbody td:first-child {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}
.doc-table table tbody td:last-child {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}
.doc-table table thead td {
  font-weight: 700;
  font-size: 16px;
  height: 50px;
}
.td-file-title {
  gap: 8px;
  display: flex;
  align-items: center;
}
.td-file-title .icon {
  width: 24px;
}
.td-file-title .icon img {

}
.doc-download-btn {
  min-height: 42px;
  padding: 5px 17px;
  background: #fff;
  border: 1px solid var(--theme__color1);
  border-radius: 7px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  background: #fff;
  transition: 0.3s;
}
.doc-download-btn:hover {
  background: rgb(237, 239, 253);
}
.doc-download-btn .icn {
  width: 19px;
}

.doc-table--1 {
  overflow: auto;
}
.doc-table--1 table {
  min-width: 630px;
}
.doc-table--1 td {
  white-space: nowrap;
  text-overflow: ellipsis;
}
.doc-table--1 td:nth-child(1) {
  padding-left: 27px;
  padding-right: 16px;
  display: flex;
  align-items: center;
}
.doc-table--1 td:nth-child(2) {
  width: 49%;
}
.doc-table--1 td:nth-child(3) {
  width: 17%;
}
.doc-table--1 td:nth-child(4) {
  width: 17%;
}
.doc-table--1 td:last-child {
  width: 250px;
  text-align: center;
}
/* ---doc-table---end */